
.sidebar-container {
    z-index: 1000;
    position: relative;
    background: rgb(0, 20, 42);
    .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    transition: width .3s;
    width: 220px !important;
    height: 100%;
    overflow: hidden;
    a {
        display: inline-block;
        width: 100%;
    }
    .el-menu {
        border: none;
        width: 100% !important;
    }
    .el-submenu {
        &:hover .sidebar-icon{
            background-position-x: -25px ;
        }
    }
}
.sidebar-container /deep/ .el-menu-item:focus, .el-menu-item:hover,.el-submenu__title:hover,.el-menu-item.is-active{
    background: transparent !important;
    color: #fff !important;
}
// .sidebar-container /deep/ .el-submenu__title i {
//     color: #fff !important;
// }

.hideSidebar {
    .sidebar-container {
        width: 60px !important;
    }
    .submenu-title-noDropdown {
        padding-left: 9px !important;
        position: relative;
        .el-tooltip {
            padding: 0 10px !important;
        }
    }
    .el-submenu {
        &:hover .sidebar-icon{
            background-position-x: -25px ;
        }
        &>.el-submenu__title {
            padding-left: 20px !important;
            &>span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
            }
            .el-submenu__icon-arrow {
                display: none;
            }
        }
    }
}       
  
.sidebar-container .nest-menu .el-submenu>.el-submenu__title,
.sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
}
.el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
}

.sidebar-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 6px;
    background: url(../logo/image/icon.png) no-repeat;
}

.iconry{
    background-position:0px -105px;
}
.iconqx{
    background-position:0px -129px;
}
.iconzm{
    background-position:0px -145px;
}
.iconqy{
    background-position:0px -179px;
} 
.iconuser{
    background-position:0px -204px;
} 